ion-col {
  background-color: #5d1e13;
  border: solid 1px #fff;
  color: #fff;
  text-align: center;
}

#resultado {
  height: 30px;
  background-color: black;
}

#ac {
  background-color: grey;
  color: black;
  font-weight: bold;
}

#derecha {
  background-color: #c58700;
  color: white;
}

#centro {
  color: white;
  background-color: rgb(46, 46, 46);
}
